body {
  background: url(Flag_of_the_Netherlands.svg) repeat-x;
}
h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
#left {
  text-align:left;
}
#center {
  text-align: center;
}
#right {
  text-align: right;
}
.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
