body {
  background: url(Flag_of_the_Netherlands.svg)fill
}
h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
#left {
  text-align:left;
}
#center {
  text-align: center;
}
#right {
  text-align: right;
}
